<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>Date</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur enim maiores? Aliquam at doloribus harum iure nesciunt nulla optio, quidem, quos rem repellat temporibus, totam. Aliquid assumenda autem consectetur corporis ea nemo perspiciatis, praesentium provident, quaerat rem saepe voluptas!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur enim maiores? Aliquam at doloribus harum iure nesciunt nulla optio, quidem, quos rem repellat temporibus, totam. Aliquid assumenda autem consectetur corporis ea nemo perspiciatis, praesentium provident, quaerat rem saepe voluptas!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur enim maiores? Aliquam at doloribus harum iure nesciunt nulla optio, quidem, quos rem repellat temporibus, totam. Aliquid assumenda autem consectetur corporis ea nemo perspiciatis, praesentium provident, quaerat rem saepe voluptas!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur enim maiores? Aliquam at doloribus harum iure nesciunt nulla optio, quidem, quos rem repellat temporibus, totam. Aliquid assumenda autem consectetur corporis ea nemo perspiciatis, praesentium provident, quaerat rem saepe voluptas!</p>
  </div>
</div>
