<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h1>Create message</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Text:</label>
    <input id="title" type="text" formControlName="title">
    <div
      *ngIf="form.get('title').touched && form.get('title').invalid"
      class="validation"
    >
      <small *ngIf="form.get('title').errors.required">
        Text not found
      </small>

    </div>
  </div>

  <div class="form-control">
    <label>Message:</label>
    <quill-editor formControlName="content"></quill-editor>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
  >
    <label for="author">Author:</label>
    <input id="author" type="text" formControlName="author">
    <div
      *ngIf="form.get('author').touched && form.get('author').invalid"
      class="validation"
    >
      <small *ngIf="form.get('author').errors.required">
        Author not found
      </small>

    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="form.invalid"
  >Create post</button>
</form>
