<nav class="navbar bg-primary">
  <h1>Angular twitter</h1>

  <ul >
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/home']">Home</a>
    </li>
    <li routerLinkActive="active" *ngIf="auth.isAuthenticated()">
      <a [routerLink]="['/create']">Create</a>
    </li>
    <li routerLinkActive="active" *ngIf="auth.isAuthenticated()">
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
    <li routerLinkActive="active" *ngIf="!auth.isAuthenticated()">
      <a [routerLink]="['/authorization']">Login</a>
    </li>
  </ul>
</nav>



<div class="container">
  <router-outlet></router-outlet>
</div>
