<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login</h2>

  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{message}}
  </div>

  <div
    class="form-control"
  >
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email').invalid && form.get('email').touched"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">
        Email not found
      </small>
      <small *ngIf="form.get('email').errors.email">
        Email not correct
      </small>
    </div>
  </div>
  <div
    class="form-control"
  >
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password').invalid && form.get('password').touched"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">
        Password not found
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Password should be min {{form.get('password').errors.minlength.requiredLength}}, now {{form.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>

  <button
    type="submit"
    [disabled]="form.invalid"
    class="btn btn-primary"
  >Login</button>
</form>
